.navlink{
    color: #53274E !important;
}

.down{
    color: #53274E ;
}

.banner img{
    max-width: 1800px;
}

.social
{
    padding: 10px;
    color: #A046B4;
}
.social:hover{
    color: white;
}
#footer{
    background-color: #53274E ;
}
#footnote
{
    color: #A046B4;
    height: 25pt;
}

#footnote:hover{
    color:white;
}

#tabloid{
    min-height: 100px;
}

#tabloid #heading{
    color: white;
    background-color: #A046B4;
}

.row-header p{
    font-size: 35pt;
}

.container{
    margin: 10px;
}
#crew{
    padding: 50px;
}

#crew div img{
    border-radius: 25px;
}

#crew div{
    text-align: center;
    padding: 5px;
}